body {
    background-color: white;
    color:black
}
nav {
    background-color:yellow;
    color: black;
    border: 6px solid black;
}

header {
    background-color: blue;
    color: azure;
    border: 6px solid darkblue
}

img {
    width: 420px;
    height: 260px;
    border: 6px solid white
}
h1 {
    color:yellow
}
aside {
    background-color: red;
    color: white;
    border: 6px solid black
}