body {
    background-color: white;
    color:black
}
nav {
    background-color:yellow;
    color: black;
    border: 6px solid black;
}

header {
    background-color: blue;
    color: azure;
    border: 6px solid black
}

img {
    width: 420px;
    height: 260px;
    border: 6px solid white
}
h1 {
    color:yellow
}
aside {
    background-color: red;
    color: white;
    border: 6px solid black
}

main {
    background-color: white;
    border: 6px solid black
}
article {
    background-color: white;
    border: 3px solid black;
}
section {
    background-color: yellow;
    border: 6px solid red;
}
h2 {
    color: red;
}
h3 {
    color: blue
}